<label>Server name</label>
<input type="text"
class="form-control"
(input)="onCreateServerName($event)">
<p>{{serverName}}</p>
<!-- Event binding for click -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">
    Add Server
</button>
<!-- String Interpolation and property binding will give same result -->
<!-- String Interpolation -->
<p>{{ allowNewServer }}</p>
<!-- Property binding -->
<p [innerText]="allowNewServer"></p>

<!-- Event binding -->
<p>{{serverCreationStatus}}</p>

<app-server></app-server>
<app-server></app-server>
