<label>Server name</label>
<!-- <input type="text"
class="form-control"
(input)="onCreateServerName($event)">
<p>{{serverName}}</p> -->

<!-- Same can be done using ngModel -->

<input type="text"
class="form-control"
[(ngModel)]="serverName">
<p>{{serverName}}</p>
<!-- Event binding for click -->
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">
    Add Server
</button>
<!-- String Interpolation and property binding will give same result -->
<!-- String Interpolation -->
<!-- <p>{{ allowNewServer }}</p> -->
<!-- Property binding -->
<!-- <p [innerText]="allowNewServer"></p> -->

<!-- Event binding -->
<p *ngIf="serverCreated; else noServer">Server was created ,name is  {{serverName}}</p>
<ng-template #noServer>
    <p>No server was created</p>
</ng-template>


<app-server></app-server>
